.image-card {
    position: relative;
    overflow: hidden;
    grid-column-end: span 2;
    grid-row-end: span 2;
    transition: all 0.5s ease-in-out;
  }
  
  .image-card.clicked {
    transform: scale(1.2);
    z-index: 1;
  }
  
  .image {
    position: absolute;
    /*top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.5s ease-in-out;
    transform: translateY(100%);
  }
  
  .overlay.hovered {
    transform: translateY(0%);
  }
  /*
  .image-card {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 150px;
  }
  
  .image {
    transition: all 0.3s ease-in-out;
    width: 200px;
    height: auto;
  }*/
  
  .image.expanded {
    width: 250px;
  }
  
  .details {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  