.image-container 
{
    margin-top: 5vh;
    position: relative;
}
.title
{
    font-size:3vw;
    color: #8E4A00;
    padding-left: 3vw;
    
}
div
{
    background-color:#FBF0D3 ;
    overflow: hidden;
    /*width: 100%;   */
}   

.text-overlay 
{
    position: absolute;
    top: 100vh;
    left: 10%;
    right: 55%;
    bottom: 0;
    text-size-adjust:unset;
    background-color: rgba(255, 255, 255, 0);
    color: #242323;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: justify;
    font-size: 1.5vw;
}


/*------------- intro container ---------------------- */
* {
  box-sizing: border-box;
}
.intro-container
{
    background-color: #FDF6D8;
    border-color: #e0dbc2;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    
    padding: 1.5vw;
    
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;

    position: relative;
    max-width: 70vw;
    /*max-height: 15rem;*/

    display: flex;
    list-style: none;
    
  
    /*border: 1px solid rgb(255 255 255 / 5%);*/
    border-radius: 1.5rem;
    
}
.intro-container img{
    border-radius: 100px;
    /*max-width:10rem;*/
    justify-self: center;
    align-self: center;

    max-height: 20vw;
    aspect-ratio: 1.8 / 2.5;
}
.intro-container ul{
    display: flex;
    flex-direction: column;

    align-items: right;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: justify;
    max-width: 60vw;
    padding: 2vw;
    /*margin: 3vw;*/
}
.intro-container ul p{
    color: #312f2f;
    font-size: 1.5vw;
}
.intro-container ul h2{
    font-size: 2vw;
}


.intro-container:after,
.intro-container:before {
  content: "";
  height: 15vh;
  width: 0.1vw;
  position: absolute;
  background: linear-gradient(
    transparent,
    #B32305,
    transparent
  );
  opacity: 0;
}

.intro-container:after {
  top: 85%;
  right: 0px;
  transition: top 600ms ease, opacity 600ms ease;
  transition-property: top, opacity;
}

.intro-container:hover:after {
  top: 15%;
  opacity: 1;
}

.intro-container:before {
  top: 0%;
  left: 0.5px;
  transition: top 600ms ease, opacity 600ms ease;
  transition-property: top, opacity;
}

.intro-container:hover:before {
  top: 65%;
  opacity: 1;
}


/*------------- content ---------------------- */
.content{
    display:flex;
    /*list-style: none;
    margin-top: 2vh;
    margin-bottom: 2vh;*/
    gap: 5vw;
    width: 90vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.content img{
    /*display:;
    /*flex-direction: column;

    justify-content: center;
    align-items: center;*/
    justify-self: center;
    align-self: center;

    /*vertical-align: middle;*/
    object-fit: cover;

    aspect-ratio: 3 / 2;
    width: 40vw;
    /*max-height:50vh;*
    
    padding: 3vw;*/

}
.content ul{
    display: flex;
    flex-direction: column;

    align-items: right;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 55vw;
    text-align: justify;
    /*max-height:50vh;*/
    padding: 0vw;
}
.content ul a{
color: #8E4A00;
font-weight: 600;
font-size: 2vw;
}
.content ul p{
    color: #7D7D7D;
    font-size: 1.5vw;
    }
.content ul h2{
    font-size: 2vw;
    }
.content ul Button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #FFFFFF;
    display: inline-block;
    background-color: #B32305;
    max-width: 200%;
    min-height: 50%;
    border-radius: 30px;
    border-color: none;
    text-decoration: none;
}

/* ----------------Person------------------------------------ */

.Person td
{
    padding: 3vw;
    
    /*margin: 2rem;
    grid-template-columns: repeat(3, 30%);*/
    
    /*display: inline-block;
    align-items: center;
    position: relative;*/
    vertical-align: top;
    width: 20vw;
    /*height: 10rem;*/
    /*display: flex;*/
    
}
.Person table
{
    /*align-items: center;
    justify-content: center;*/
}
.Person img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    object-fit: cover;
    width: 8vw; 
    height: 8vw;
    border-radius: 100px;
    border-color: none;
}
.Person p{
    text-align: justify;
}
.Person
{
    text-align: center;
    text-justify:distribute-all-lines;  
    font-size: 1.2vw;
    margin: 3rem;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* ----------------Block------------------------------------ */

.Block
{
    background-color: #FDF6D8;
    border-color: black;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    align-self: center;
    align-content: center;
    justify-content: center;
    
    margin: 2rem;
    /*margin-top: 2rem;*/

    grid-template-columns: repeat(3, 30%);

    display: inline-block;
    
    position: relative;
    width: 28vw;
    height: 32vh;
    /*display: flex;*/
    list-style: none;
}
.Block_image
{
    object-fit: cover;
    align-self: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
    /*padding: 2rem;*/
    
    margin: 0.5vw;
    /*margin-top: 2rem;*/

    /*grid-template-columns: repeat(3, 30%);*/

    
    
    position: relative;

    flex-basis: 30vw;
    width: 30vw;
    height: 38vh;
    /*display: flex;*/

}