.image-container 
{
    position: relative;

}

div
{
    background-color:#FBF0D3 ;
    
    /*width: 100vw;*/   
}   

.text-overlay 
{
    position: absolute;
    top: 100vh;
    left: 10%;
    right: 55%;
    bottom: 0;
    text-size-adjust:unset;
    background-color: rgba(255, 255, 255, 0);
    color: #242323;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: justify;
    font-size: 1.5vw;
}


/*------------- intro container ---------------------- */
.intro-container
{
    background-color: #FDF6D8;
    border-color: black;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10vh;
    
    margin: auto;
    /*margin-top: 2rem;*/

    position: relative;
    max-width: 70vw;
    /*max-height: 15rem;*/

    display: flex;
    list-style: none;
}
.intro-container img{
    border-radius: 100px;
    /*max-width:10rem;*/
    justify-self: center;
    align-self: center;

    max-height: 40vh;
    aspect-ratio: 1.8 / 2.5;
}
.intro-container ul{
    display: flex;
    flex-direction: column;

    align-items: right;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: justify;
    max-width: 60vw;
    padding: 5%;
    margin: 3vw;
}
.intro-container ul p{
    color: #312f2f;
    font-size: 1.5vw;
}
.intro-container ul h2{
    font-size: 2vw;
}

/*------------- content ---------------------- */
.content{
    display:flex;
    /*list-style: none;*/
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.content img{
    /*display:;
    /*flex-direction: column;

    justify-content: center;
    align-items: center;*/
    justify-self: center;
    align-self: center;

    /*vertical-align: middle;*/
    object-fit: cover;

    aspect-ratio: 2.5 / 1.5;
    width: 45vw;
    /*max-height:50vh;*/
    
    padding: 3vw;
}
.content ul{
    display: flex;
    flex-direction: column;

    align-items: right;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 55vw;
    text-align: justify;
    /*max-height:50vh;*/
    padding: 5vw;
}
.content ul a{
color: #8E4A00;
font-weight: 600;
font-size: 2vw;
}
.content ul p{
    color: #7D7D7D;
    font-size: 1.5vw;
    }
.content ul h2{
    font-size: 2vw;
    }
.content ul Button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #FFFFFF;
    display: inline-block;
    background-color: #B32305;
    max-width: 200%;
    min-height: 50%;
    border-radius: 30px;
    border-color: none;
    text-decoration: none;
}

/* ----------------Person------------------------------------ */

.Person td
{
    padding: 5vw;
    
    /*margin: 2rem;
    grid-template-columns: repeat(3, 30%);*/
    
    /*display: inline-block;
    align-items: center;
    position: relative;*/
    vertical-align: top;
    width: 20vw;
    /*height: 10rem;*/
    /*display: flex;*/
    
}
.Person table
{
    /*align-items: center;
    justify-content: center;*/
}
.Person img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    object-fit: cover;
    width: 7rem; 
    height: 7rem;
    border-radius: 100px;
    border-color: none;
}

.Person
{
    text-align: justify;
    margin: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/* ----------------Block------------------------------------ */

.Block
{
    background-color: #FDF6D8;
    border-color: black;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    
    margin: 2rem;
    /*margin-top: 2rem;*/

    grid-template-columns: repeat(3, 30%);

    display: inline-block;

    position: relative;
    width: 15rem;
    height: 15rem;
    /*display: flex;*/
    list-style: none;
}