
.image_card {
    float:left;
    display:flex;

    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;

    position:relative;
    overflow: hidden;

    box-shadow: 1px 2px 6px rgba(0, 0, 0, 1);
    border-color: #7b7b7b;
    border-style:solid;
    border-width: 0.05vw;

    font-size: 1.4vw;
    border-radius: 3000px;
    width: 13vw;
    height: 13vw;
    transition: all 0.5s ease-in-out;
    aspect-ratio: 1 / 1;
    will-change: transform;
  }
  
  .image_card.clicked {
    overflow: hidden;

    width: 20vw;
    height: 20vw;
    aspect-ratio: 1 / 1;
  }
  
  
  .overlay {
    border-radius: 3000px;
    display:flex;
    position: absolute;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
    text-align: center;
    overflow-wrap: normal;
    box-sizing:border-box;
    
    height: 20vw;
    width: 20vw;
    padding: 1vw;
    gap:1vw;
    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    /*transform: translateX(-100%);*/
  }

  .overlay.clicked {
    border-radius: 3000px;
    opacity: 1;
    /*transform: translateX(0%);*/
  }

  .image {
    padding: 0vw;
    border-radius: 3000px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    width: 20vw ;
    height: 20vw;
  }
  
  .image.expanded {

    border-radius: 3000px;
    object-fit: cover;
    transform: scale(1.3);
  }
  
  